@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'),
        url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette-Regular';
    src: local('Courgette-Regular'),
        url('../fonts/Courgette/Courgette-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cookie-Regular';
    src: local('Cookie-Regular'),
        url('../fonts/Cookie/Cookie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy-Regular';
    src: local('Satisfy-Regular'),
        url('../fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel'),
        url('../fonts/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Cormorant-Regular';
    src: local('Cormorant-Regular'),
        url('../fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LobsterTwo-Regular';
    src: local('LobsterTwo-Regular'),
        url('../fonts/Lobster_Two/LobsterTwo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ElMessiri';
    src: local('ElMessiri'),
        url('../fonts/El_Messiri/ElMessiri-VariableFont_wght.ttf') format('truetype');
}


.font-italic {
    font-family: 'Cookie-Regular';
}

.font-courgette {
    font-family: 'Courgette-Regular';
}

.font-satisfy-regular {
    font-family: 'Satisfy-Regular';
}

.font-cinzel {
    font-family: 'Cinzel';
}

.font-cormorant-regular {
    font-family: 'Cormorant-Regular';
}

.font-lobsterTwo-regular {
    font-family: 'LobsterTwo-Regular';
}

.font-el-messiri {
    font-family: 'ElMessiri';
}
