#welcome {
    background-size: cover;
}

#welcome-section>div {
    width: 100%;
    height: auto;
}

.welcome-img-container img {
    height: 100%;
    width: 100%;
}

#save-the-date-section {
    width: 100%;
    min-height: 21vh;
    background: var(--color-blue);
}

#save-the-date-section h1 {
    font-size: 3.2rem;
}

#save-the-date-names {
    letter-spacing: 2.5px;
}

.countdown-circle {
    border-radius: 50%;
    background-color: var(--color-dark-blue);
    color: white;
}

.cutdown-text {
    font-size: 0.7rem;
}

.countdown-circle,
.cutdown-text {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.save-the-date-countdown {
    max-width: 480px;
}

.date-time {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

#location-section div h1 {
    font-size: 1.6rem;
}

.fa-place-of-worship {
    color: var(--color-cream);
}

.location-time {
    font-size: 1.4rem;
}

#location-map {
    min-height: 150px;
}

#location-map iframe {
    position: relative;
    min-height: 150px;
    height: 100%;
    width: 100%;
}

.row {
    margin-right: 0px;
}

.icon-sm>img {
    max-width: 2.5rem;
}

.icon-md>img {
    max-width: 4.5rem;
}

.icon-lg>img {
    max-width: 8rem;
}

.icon-xl>img {
    max-width: 9.5rem;
}

#tickets-section {
    width: 100%;
    min-height: 21vh;
    background: var(--color-blue);
}

.ticket-grid {
    margin-left: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ticket-row {
    width: auto;
    min-width: 270px;
    max-width: 400px;
    margin-bottom: 10px;
}

.ticket-header {
    background-color: var(--color-dark-blue);
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-header img {
    min-width: 4rem;
    min-height: 4rem;
    border: solid 1px var(--color-dark-blue);
    background-color: var(--color-white);
    border-radius: 50%;
    position: relative;
}

.ticket-body {
    background-color: var(--color-white);

    background-origin: border-box;
    mask:
        radial-gradient(circle 15px at right, #0000 95%, #000) right,
        radial-gradient(circle 15px at left, #0000 95%, #000) left;
    mask-size: 50% 100%;
    mask-repeat: no-repeat;

    -webkit-mask:
        radial-gradient(circle 15px at right, #0000 95%, #000) right,
        radial-gradient(circle 15px at left, #0000 95%, #000) left;
    -webkit-mask-size: 50% 100%;
    -webkit-mask-repeat: no-repeat;
}

.ticket-pending-div {
    border: 1px dashed gray;
}

.form-check {
    text-align: justify;
}

#agenda-section {
    background-color: var(--color-white);
}

.agenda-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agenda-hour {
    font-size: 0.9rem;
}

.agenda-description {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*font-size: 1.1rem;*/
    line-height: normal
}

.agenda-circle-container {
    width: 90px;
    height: 1px;
    background-color: black;
    position: relative;
    padding: 0%;
    margin: 0%;
}

.circle {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: calc(50% - 5px);
}

.blue {
    margin-top: 15px;
    background: var(--color-dark-blue);
}

.blue .circle {
    background: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
}

input::placeholder {
    opacity: 0.3 !important;
}

#dresscode-section,
#photo-dump-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
}

#dresscode-info,
#photo-dump-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#dresscode-info>.dresscode-header,
#photo-dump-info>.photo-dump-header {
    background-color: var(--color-white);
}

#dresscode-info>.dresscode-body {
    background-color: var(--color-blue);
    width: 130px;
    /*height: calc(100% - 2rem);*/
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wish-list-section {
    display: block;
    align-items: center;
}

.card-list-item-header {
    display: flex;
    justify-content: center;
}

.card-list-item {
    width: 165px;
    height: 100px;
    transition: box-shadow .3s ease, transform .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-list-item:hover span {
    box-shadow: 0 8px 50px #23232333;
    opacity: 0.3;
}

.card-list-item:hover>.card-list-item-header,
.card-list-item:hover>.card-list-item-desc {
    transform: translateY(-5%);
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem;
}

#photo-dump-info>.photo-dump-body {
    background-color: var(--color-blue);
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pulseBtn {
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 0 0 0 0 rgba(69, 198, 85, 0.4);
    -moz-animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(69, 198, 85, 1);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(69, 198, 85, 0);
    }

    100% {
        box-shadow: 0 0 0 50px rgba(69, 198, 85, 0);
    }
}