.welcome {
    background-image: var(--countdowm-background-img-url);
    filter: brightness(.7);
}

.tickets {
    background-image: var(--guest-background-img-url);
}

.where {
    background-image: var(--guest-background-img-url);
}

.welcome,
.tickets,
.where {
    background-repeat : no-repeat;
    background-size: contain;
    background-position: top center;
    max-width: 100%;
    height: auto;
    align-items: center;
    font-weight: bold;
} 