#welcome {
    background-size: cover;
}

#welcome-section>div {
    width: 100%;
    height: auto;
}

.welcome-img-container img {
    height: 100%;
    width: 100%;
}

#save-the-date-section {
    width: 100%;
    min-height: 21vh;
    background: var(--color-cream);
}

#save-the-date-section h1 {
    font-size: 3.2rem;
}

#save-the-date-names {
    letter-spacing: 2.5px;
}

.countdown-circle {
    border-radius: 50%;
    background-color: var(--color-brown);
    color: white;
}

.cutdown-text {
    font-size: 0.7rem;
}

.countdown-circle,
.cutdown-text {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.save-the-date-countdown {
    max-width: 480px;
}

.date-time {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Courgette-Regular';
}

#location-section div h1 {
    font-size: 1.6rem;
}

.fa-place-of-worship {
    color: var(--color-cream);
}

.location-time {
    font-size: 1.4rem;
}

#location-map {
    min-height: 150px;
}

#location-map iframe {
    position: relative;
    min-height: 150px;
    height: 100%;
    width: 100%;
}

.row {
    margin-right: 0px;
}

.icon-sm>img {
    max-width: 2.5rem;
}

#tickets-section {
    width: 100%;
    min-height: 21vh;
    background: var(--color-blue);
}

.ticket-grid {
    margin-left: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ticket-row {
    width: auto;
    min-width: 270px;
    max-width: 400px;
    margin-bottom: 10px;
}

.ticket-header {
    background-color: var(--color-dark-blue);
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-header img {
    min-width: 4rem;
    min-height: 4rem;
    border: solid 1px var(--color-dark-blue);
    background-color: var(--color-white);
    border-radius: 50%;
    position: relative;
}

.ticket-body {
    background-color: var(--color-white);

    background-origin: border-box;
    mask: 
        radial-gradient(circle 15px at right, #0000 95%, #000) right,
        radial-gradient(circle 15px at left, #0000 95%, #000) left;
    mask-size: 50% 100%;
    mask-repeat: no-repeat;

    -webkit-mask:
        radial-gradient(circle 15px at right, #0000 95%, #000) right,
        radial-gradient(circle 15px at left, #0000 95%, #000) left;
    -webkit-mask-size: 50% 100%;
    -webkit-mask-repeat: no-repeat;
}

.ticket-pending-div {
    border: 1px dashed gray;
}

.form-check {
    text-align: justify;
}

.demo {
    display: flex;
    justify-content: space-evenly;
}
