html,
body {
    height: 100%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

body {    
    background-color: var(--color-pink);
}

img {
    max-width: 100%;
    height: auto;
}

.nav-container {
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.fa-bars {
    font-size: 1.5rem;
}

.blur-border-box {
    box-shadow: inset 5px 0px 5px 0px var(--color-pink), 
        inset -5px 0px 5px 0px var(--color-pink);      
}

.img-center-text {
    width: 100%;
}

