html,
body {
    height: 100%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: auto;
}

.background-white {
    background-color: var(--color-white);
}

.background-cream {
    background-color: var(--color-cream);
}

.background-pink {
    background-color: var(--color-pink);
}