:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-cream: #ffeedb;
  --color-blue: #cfeffc;
  --color-brown: hsl(354, 83%, 65%);  /*#C25450;*/ /*hsl(32, 39%, 56%);*/
  --color-dark-blue: #4D98B8;
  --color-blue-80: #ffeedb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat-Regular';
}